body {
    background-color: #121212;
    color: white;
}

h1 {
    opacity: 87%;
}

h2,
li,
th,
a {
    opacity: 60%;
}

p {
    opacity: 38%;
}

.menu {
    margin: 0;
    padding: 0;
    width: 10vw;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.menu a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

main {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.retratos {
    position: block;
    float: right;
    clear: right;
    display: flex;
    flex-direction: column;

}

.delacroixImagem {
    height: auto;
    width: 300px;
    float: right;
    border-radius: 30%;
    margin: 50px;
}

.tabelaObras table {
    margin-left: auto;
    margin-right: auto;
}

.resumo,
.vidaEObra {
    width: 50vw;
}

.massacre {
    display: flex;
    align-items: center;
}

.liberte {
    display: flex;
    align-items: center;
}
.batalha {
    display: flex;
    align-items: center;
}